.app-container {
    @include grid-columns($display: none, $sizes: (12, 12, 9, 8));
    margin: 0 auto;
    .app-content, .app-footer {
        @include gen-box-model($padding: 3rem);
        background: $fries-color-light;
    }
    .app-content {
        margin-bottom: 2rem;
    }
    .app-footer {
        > div {
            @include grid-row();
            font-size: 1.4rem;
        }
    }
}
