///////////
// Fonts //
///////////
///
$font-primary-map: ('path': '../muse/assets/fonts', 'font-name': 'Source Sans Pro', 'file-name': 'SourceSansPro', 'weights': ( (ExtraLight, 200), (Light, 300), (Regular, 400), (Semibold, 600), (Bold, 700), ('Black', 900)));
$font-secondary-map: ('path': '../muse/assets/fonts', 'font-name': 'Raleway', 'file-name': 'Raleway', 'weights': ( (Light, 300), (Regular, 400)));
$font-icon-map: ('path': '../muse/assets/fonts', 'font-name': 'icomoon', 'file-name': 'icomoon');
// 
// Generate Stuff!
// 
@include gen-font-face($font-primary-map);
@include gen-font-face($font-secondary-map);
@include gen-font-face($font-icon-map);
/////////////////////
// Admin Icons Map //
/////////////////////
$admin-gen-icons: (
    'cash-revenue': e9b5,
    'credit-card': e9ae,
    'student-loan': e9e7,
    'home-down-payment': e900,
    'retirement': eae9,
    'vacation': e924,
    'trash-can': e909,
    'edit': e97b,
    'copy': e9ba
);
////////////////////////////////////////
// The IconStyle for the Icon Classes //
////////////////////////////////////////
$icon-style: (
    'family': unmap($font-families, icon),
    'size': inherit,
    'weight': normal,
    'transform': none,
    'style': normal,
    'decoration': none,
    'line-height': 1
) !default;
////////////////////////
// Generate the Icons //
////////////////////////
@include gen-icons($admin-gen-icons);
///////////////////////////////////
// Generate the [.ico-*] classes //
///////////////////////////////////
[class^="ico-"], [class*=" ico-"] {
    @include gen-font-style-map($icon-style);
    speak: none;
}

body {
    // background-color: $fries-color-background-body; // #F3F2F4
    padding: 0;
    font: unmap($font-weights, normal) #{unmap($font-sizes, x-large)}/1.2 unmap($font-families, primary);
    color: $fries-color-black;
    @include media(unmap($breakpoints, desktop)) {
        font: unmap($font-weights, normal) #{unmap($font-sizes, regular)}/1.2 unmap($font-families, primary);
    }
}

a {
    color: $anchor-color;
    text-decoration: none;
    cursor: pointer;
    @include transition(color .2s $ease-in-out-quad);
    &:link {
        color: $anchor-color;
    }
    &:hover {
        color: $anchor-color-hover;
    }
    &:active {
        color: $anchor-color-active;
    }
}