/**
 *  ASI (Advisor Software Inc.) Fries Modular Design System
 *      Description : Design Tokens - Default Theme
 *  Current Version : 1.2
 *  Version Updated : 20th April 2016
 */
/**
 *  This mixin generate a collection of font-style with each items from $fontsList per responsive state from $breakpoints
 *
 *  The $fontsList list signature is:
 *  
 *  $font-styles-list-name:(
 *      ('label1', scale-index, weight, text-transform),
 *      ('label1', scale-index, weight, text-transform),
 *      ...
 *      ('label1', scale-index, weight, text-transform)
 *  )
 * 
 *  $fonts-styles-list: (
 *      ('display3', 3, 400),
 *      ('display2', 2, 400),
 *      ('display1', 1, 400),
 *      ('headline', 2, 400),
 *      ('title', 1, 400),
 *      ('subheading', 1, 400),
 *      ('body2', 1, 400),
 *      ('body1', 1, 700),
 *      ('caption', 1, 400),
 *      ('button', 1, 700)
 *  );
 *  $fonts-list-breakpoints: ( 
 *      (map-get($breakpoints, 'mobile'), 4, orange), 
 *      (map-get($breakpoints, 'tablet'), 3, blue), 
 *      (map-get($breakpoints, 'laptop'), 2, purple), 
 *      (map-get($breakpoints, 'desktop'), 1, green)
 *  );
 */
/*
// Responsive Typography Collection (RTC - Per Application)

.body-1{
    font-size: 12px;
    font-weight: bold;
}

.body-2{
    font-size: 12px;
    font-weight: normal;
}

    %paceholder, 
    .class{
        // font styles;
        // ms(index); 
        @include media(responsive-state-1){
            // ms(index); 
        } 
        @include media(responsive-state-2){
            // ms(index); 
        }     
    }




 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
*:after, *:before {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

i {
  font-style: normal;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a:active, a:hover {
  outline: 0;
}

dl, ol, ul {
  list-style: none;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Light.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Semibold.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Bold.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Black.woff2") format("woff2"), url("../muse/assets/fonts/SourceSansPro/SourceSansPro-Black.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../muse/assets/fonts/Raleway/Raleway-Light.woff2") format("woff2"), url("../muse/assets/fonts/Raleway/Raleway-Light.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../muse/assets/fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../muse/assets/fonts/Raleway/Raleway-Regular.woff") format("woff");
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../muse/assets/fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../muse/assets/fonts/icomoon/icomoon.woff2") format("woff2"), url("../muse/assets/fonts/icomoon/icomoon.woff") format("woff"), url("../muse/assets/fonts/icomoon/icomoon.ttf") format("truetype"), url("../muse/assets/fonts/icomoon/icomoon.svg#icomoon") format("svg");
}
body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.app-container {
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: 769px) {
  .app-container {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .app-container {
    flex-basis: 74.625%;
    max-width: 74.625%;
  }
}
@media screen and (min-width: 1441px) {
  .app-container {
    flex-basis: 66.16667%;
    max-width: 66.16667%;
  }
}
.app-container #app_content {
  padding: 3rem;
  background: #F3F2F4;
}

.app-nav {
  margin: 5rem 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.app-nav > .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.app-nav > .navbar > a.logo {
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: 769px) {
  .app-nav > .navbar > a.logo {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .app-nav > .navbar > a.logo {
    flex-basis: 32.33333%;
    max-width: 32.33333%;
  }
}
@media screen and (min-width: 1441px) {
  .app-nav > .navbar > a.logo {
    flex-basis: 23.875%;
    max-width: 23.875%;
  }
}
.app-nav > .navbar > .nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (min-width: 769px) {
  .app-nav > .navbar > .nav {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .app-nav > .navbar > .nav {
    flex-basis: 57.70833%;
    max-width: 57.70833%;
  }
}
@media screen and (min-width: 1441px) {
  .app-nav > .navbar > .nav {
    flex-basis: 66.16667%;
    max-width: 66.16667%;
  }
}

.app-nav a.logo {
  color: #00aaad;
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1.2;
  cursor: pointer;
}

.app-nav .nav li > a {
  cursor: pointer;
  display: block;
  padding: 1.5rem;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  -webkit-transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  opacity: 1;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-color: transparent;
  background-color: transparent;
  color: #1a1b1f;
}
.app-nav .nav li > a:hover, .app-nav .nav li > a:focus, .app-nav .nav li > a:active {
  outline: none;
}
.app-nav .nav li > a:hover {
  background-color: rgba(26, 27, 31, 0.1);
  color: #1a1b1f;
  border-color: transparent;
}
.app-nav .nav li > a:active {
  background-color: rgba(26, 27, 31, 0.15);
  color: #1a1b1f;
  border-color: transparent;
}
.app-nav .nav li > a.inactive {
  opacity: .25;
  cursor: default;
  pointer-events: none;
}

.app-notifications {
  padding: 1.7rem;
  background: #F3F2F4;
  text-align: center;
  margin-bottom: 2rem;
}
.app-notifications > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.app-notifications > div figure {
  width: 13rem;
}
.app-notifications > div figure img {
  width: 100%;
}
.app-notifications > div h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem 0;
  font-family: "Raleway";
}
.app-notifications > div p {
  font-size: 1.6rem;
  margin: 0.75rem 0;
}

.InfoCards {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.InfoCards .InfoCardComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 769px) {
  .InfoCards .InfoCardComponent {
    flex-basis: 49.25%;
    max-width: 49.25%;
  }
}

.InfoCardComponent > main {
  flex-grow: 2;
}
.InfoCardComponent > header, .InfoCardComponent > main, .InfoCardComponent > footer {
  padding: 2rem;
  font-size: 1.4rem;
  background: #fff;
  z-index: 1;
}
.InfoCardComponent > .InfoCardNetWorth {
  height: 12.5rem;
  width: 12.5rem;
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  border-radius: 50%;
  background: #fff;
  border: .25rem solid transparent;
  z-index: 2;
}
.InfoCardComponent > .InfoCardNetWorth > p {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.InfoCardComponent > main > .InfoCardList .InfoCardListRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem 0;
}
@media screen and (min-width: 769px) {
  .InfoCardComponent > main > .InfoCardList .InfoCardListRow {
    flex-basis: 57.70833%;
    max-width: 57.70833%;
  }
}

.InfoCardComponent > footer {
  color: #fff;
  padding: 2.3rem 1.7rem;
  background: #F3F2F4;
  text-transform: capitalize;
}

.InfoCardComponent.assets > .InfoCardNetWorth {
  border-color: #43aba4;
}
.InfoCardComponent.assets > footer {
  background: #43aba4;
}
.InfoCardComponent.liabilities > .InfoCardNetWorth {
  border-color: #df2664;
}
.InfoCardComponent.liabilities > footer {
  background: #df2664;
}
.InfoCardComponent.income > .InfoCardNetWorth {
  border-color: #c43029;
}
.InfoCardComponent.income > footer {
  background: #c43029;
}
.InfoCardComponent.expenses > .InfoCardNetWorth {
  border-color: #98195f;
}
.InfoCardComponent.expenses > footer {
  background: #98195f;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*# sourceMappingURL=default.css.map */
